html {
    font-size: 1em;
    line-height: 1.4;
}


#wrapper {
    max-width: 900px;
    min-width: 320px;
    text-align: left;
    margin: auto;
}


header img {
    float: right;
    border: 1px #ccc;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: roboto-condensed, sans-serif;
    font-weight: 600;
    font-style: normal;
}

p,
dt {
    font-weight: bold;
}




dl,
dd {
    font-size: .9rem;
}

dd {
    margin-bottom: 1em;
}


.social-media-icons a {
    display: inline-block;
    text-decoration: none;
    padding: 7px;
}

.social-media-icons a:nth-child(1) i {
    color: #d34836;
}

.social-media-icons a:nth-child(2) i {
    color: #4099FF;
}

.social-media-icons a:nth-child(3) i {
    color: #b31217;
}

.social-media-icons a:nth-child(4) i {
    color: #FF6600;
}

.social-media-icons a i:hover {
    color: black;
}


header,
footer {
    width: 100%;
    background: url("../img/background.jpg") #f44f4f;
    padding: 20px 0px;
    box-shadow: 0 0px 15px #333;
}

header {
    border-bottom: 2px solid #fff;
    height: 10%;
}


footer {
    border-top: 2px solid #fff;
    background: url("../img/background.jpg");
}

/*STYLES GENERAUX*/
* {
    font-family: Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}

body {
    background: #ededed;
}

p {
    font-size: 1em;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: #000;
}

/*HEADER & FOOTER*/
header,
footer {
    width: 100%;
    padding: 20px 0px;
    background: url("../img/background.jpg") #4f4f4f;
    box-shadow: 0px 0px 15px #333;
}


header h1,
header h2 {
    font-family: 'roboto';
    color: brown;
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;
}

header h2 {
    color: navy;
    font-size: 1.2em;
    width: 90%;
}

header p {
    width: 70%;
    margin-left: 5%;
}

footer {
    border-top: 2px solid #fff;
}

footer p {
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

footer a {
    color: #fff;
}

/*SECTIONS*/
article {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #bbb;
    background-color: #fff;
}

article h2 {
    margin: 20px 0;
    width: 100%;
    color: navy;
}

article>div {
    width: 90%;
}

.photo img {
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin-top: -50px;
}

.prez {
    border-bottom: 2px dashed #ccc;
}

.prez a {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px auto 30px auto;
    color: #fff;
    background-color: #EA0;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
}

.contact-flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.contact-flex p:first-child {
    flex: 0 0 40%;
}

.contact-flex p:last-child {
    flex: 0 0 60%;
}

.social {
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0px auto;
}

.social img {
    width: 40px;
    height: 40px;
}

/*SECTION EXP ET FORMATION*/
.exp {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.exp-info {
    display: flex;
    flex-flow: column wrap;
}

.exp-logo {
    flex: 0 0 25%;
    max-width: 100px;
}

.exp-info {
    flex: 0 0 70%;
    margin-left: auto;
}

.exp img {
    width: 100%;
}

.exp h3 {
    font-size: 1.2em;
}

.exp h4 {
    font-size: 1em;
    font-weight: normal;
}

/*SECTION COMPETENCES*/
.h3gauche {
    width: 90%;
}

.comp {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}

.comp p {
    flex: 0 0 40%;
}

.conteneur-barre {
    flex: 0 0 60%;
    border-radius: 5px;
    background-color: grey;
    border-bottom: 1px ridge grey;
}

.barre {
    display: block;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.c85 {
    width: 85%;
    background-color: #8B8;
}

.c90 {
    width: 90%;
    background-color: #4B8;
}

.c95 {
    width: 95%;
    background-color: #4B8;
}

.c100 {
    width: 100%;
    background-color: #4B8;
    border-radius: 5px;
}

.comp2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.conteneur-barre2 {
    flex: 0 0 100%;
    height: 0.5em;
    margin-bottom: 0.25em;
    border-radius: 5px;
    background-color: grey;
}

/*SECTION INTERETS*/
.interet {
    flex: 0 1 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
}

.interet img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #555;
}

article ul {
    margin-right: auto;

    margin-left: 20px;
}




/*SECTIONS*/
section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #bbb;
    background-color: #fff;
}

section h2 {
    margin: 20px 0;
    width: 90%;
    color: navy;
}

section>div {
    width: 90%;
}

.list-inline {
    margin: auto;
    display: flex;
    width: 30%;
    justify-content: space-between;
}


@media only screen and (max-width: 500px) {
    .photo img {
        width: 40%;
        height: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -10%;

    }

    header p {
        width: 50%;
        margin-left: 5%;
    }
}